[mysqld]
character-set-server=utf8mb4
character_set_client=utf8mb4
character_set_connection=utf8mb4
character_set_results=utf8mb4_unicode_ci
collation-server=utf8mb4_unicode_ci
host_cache_size=0

[client]
default-character-set=utf8mb4
